 <div class="menu">
  </div>
<div class="main-prof">
    <div class="start-right">
      <h1 class="top-font-right"> プロフィール</h1>
        <div class="main-back-prof">
          <%= image_tag 'taku4.png', alt: "サンプル画像" %>
          <div class="myprofile-prof">
            <a class="myprofile-two">名前</a>
              <div class="myprofile-two">
                <a class="myprofile-two">伏見 直樹</a>
                  <div class="myprofile-two">
                    <a class="myprofile-two">7月から勉強を開始</a>
                      <div class="myprofile-two">
                        <a class="myprofile-two">現在1日3時間の勉強を継続中</a>
                        <div class="myprofile-two">
                          <a class="myprofile-two">SNS:</a>
                          <a href="https://twitter.com/naochi0831"> <%= image_tag 'taku5.png', alt: "サンプル画像", class: "twitter"  %> </a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  <div class="coment-size">
    <div>
      <h3 class="coment-center">現在勉強中の言語やツールなど</h3>
        <div>
          <p>--------------------------------------</p>
            <div>
              <h3 class="coment-center">PHP</h3>
              <div>
                <h3 class="coment-center">JAVA</h3>
                  <div>
                    <h3 class="coment-center">Laravel</h3>
                    <div>
                      <h3 class="coment-center">docker</h3>
                        <div>
                          <p>--------------------------------------</p>
                            <div>
                                 <h3 class="coment-center">扱える言語やツールなど</h3>
                                    <div>
                                      <p>--------------------------------------</p>
                                        <div>
                                          <h3 class="coment-center">Ruby</h3>
                                          <div>
                                            <h3 class="coment-center">Ruby on Rails</h3>
                                              <div>
                                                <h3 class="coment-center">MySQL</h3>
                                                <div>
                                                  <h3 class="coment-center">Github</h3>
                                                    <div>
                                                      <h3 class="coment-center">AWS</h3>
                                                        <div>
                                                          <h3 class="coment-center">JQuery</h3>
                                                            <div>
                                                              <h3 class="coment-center">WordPress</h3>
                                                              <div>
                                                                <p>--------------------------------------</p>
                                                              </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
<div class="prof-background">
  <div class="prof-senter">
    <p>-------------------------製作者からのコメント------------------------</p>
  </div>
  <div class="border-prof">
  <div>
  <h3 class="coment-center-prof">御観覧有り難う御座います。</h3>
  </div>
  <div>
  <h3 class="coment-center-prof">こちらのポートフォリオは色々なポートフォリオを共有する場に使って頂けたらと思っています。</h3>
  </div>
  <div>
  <h3 class="coment-center-prof">他の方のポートフォリオを見てみんなでモチベーションを上げて頑張りましょう</h3>
  </div>
  <div>
  <h3 class="coment-center-prof">私も日々皆さんに負けないように頑張って行きたいと思います。</h3>
  </div>
  <div>
  <h3 class="coment-center-prof">またコメントにはアドバイス等書いて頂けたらと思います。</h3>
  </div>
  <div>
  <h3 class="coment-center-prof">誹謗中傷等はお控え頂きますようよろしくお願い致します。</h3>
  </div>
  </div>
</div>